.container--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
h1.title--data{
    display: flex;
    justify-content: center;
    margin: 3% 0;
}
.data--now{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 4%;
    margin-bottom: 10%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}
.data--now input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}
.data--now h3 {
    margin-bottom: 5%;
}
.data--now input{
    width: 70%;
}

form h3{
    margin-bottom: 5%;
}

form.data--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 4%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    margin-bottom: 10%;
}
form.data--form span{
    color: red;
}
form.data--form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
form.data--form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 50%;
    border: 0;
    padding: 15px;
    background-color: #33a733;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 5%;
    border-radius: 20px;
}
form.data--form button:hover {
    background: #48c248;
}

@media (max-width: 1000px) {
    .data--now{
        min-width: 60%;
    }
    form.data--form {
        min-width: 60%;
    }
}
@media (max-width: 700px) {
    .data--now{
        min-width: 80%;
    }
    form.data--form {
        min-width: 80%;
    }
}
@media (max-width: 330px) {
    .data--now{
        min-width: 90%;
    }
    form.data--form {
        min-width: 90%;
    }
}