.container--info-state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.infos--state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30%;
    padding: 4%;
    margin-bottom: 10%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    margin-top: 10%;
}
.infos--state input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    margin-top: 2%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.infos--state h1{
    margin-top: -50px;
    margin-bottom: 10%;
}